# Пусто → mock-режим (данные в памяти).
# /api - Работает с локальной штукой
VITE_BACKEND_URL=/api

# Локально: http://localhost:5040
# Туннель:  https://<subdomain>.tunnel4.com
BACKEND_PROXY_TARGET=http://localhost:5040
